<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Keep these three meta tags on top - do not alter -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end important meta -->
	<!--start other meta-->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<!--end other meta-->
	<!-- Custom CSS -->

	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<!-- Compressed CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" crossorigin="anonymous"
	/>

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/disordat.css">
	<link rel="stylesheet" href="/assets/css/vendor/masonry.css">
</head>

<body>
	<!-- Nav bar -->
	<div class="grid-x align-center" data-sticky-container>
		<div class="sticky small-12 cell" data-sticky data-margin-top="0" id="nav-custom">
			<div class="grid-x grid-padding-x" id="nav-row">
				<div class="small-4 cell" id="user-profile-thumbnail">
					<img class="img-responsive user-thumbnail" src="assets/img/charlie_thumb.jpg" />
				</div>
				<!--end user-profile-thumbnail-->
				<div class="small-4 cell" id="logo-text">
					<h4 class="text-center">DIS OR DAT</h4>
				</div>
				<!--end logo text-->
				<div class="small-4 cell" id="nav-icons">
					<i class="fa fa-search fa-2x"></i>
					<i class="fa fa-pencil fa-2x"></i>
				</div>
				<!--end nav icons-->
			</div>
			<!--end row-->
		</div>
		<!-- </div> -->

		<div class="small-11 cell" id="main-content">
			{{{body}}}
		</div>
	</div>

	<!--end container-->
	<!-- start scripts-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Compressed JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" crossorigin="anonymous"></script>

	<script type="text/javascript" src="/assets/js/login.js"></script>

	<script>
		$(document).foundation();
	</script>
</body>

</html>