<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Keep these three meta tags on top - do not alter -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end important meta -->
    <!--start other meta-->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.ico">
    <!--end other meta-->
    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" crossorigin="anonymous"
    />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/disordat.css">
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/vendor/accordion-flydown.css">
    <link rel="stylesheet" href="/assets/css/vendor/masonry.css">
    <link rel="stylesheet" href="/assets/css/vendor/accordion-flydown.css">
</head>

<body>
    <div class="grid-x align-center" data-sticky-container>
        <div class="sticky small-12 cell" data-sticky data-margin-top="0" id="nav-custom">
            <div class="grid-x grid-padding-x grid-padding-y" id="nav-row">
                <div class="small-3 cell" id="user-profile-thumbnail">
                    <a href="/profile">
                        <img class="img-responsive user-thumbnail" src="{{user.profile_pic}}" />
                    </a>
                </div>
                <!--end user-profile-thumbnail-->
                <div class="small-6 cell" id="logo-text">
                    <a href="/feed"><h3 class="text-center">DIS OR DAT</h3></a>
                </div>
                <!--end logo text-->
                <div class="small-3 cell" id="nav-icons">
                    <div class="mega-menu">
                        <i class="fa fa-search fa-lg"></i>
                        <a data-toggle="mega-menu" href="#">
                            <i class="fa fa-pencil fa-lg"></i>
                        </a>
                        <div class="dropdown-pane bottom small-12 medium-8 cell" id="mega-menu" data-dropdown data-options="closeOnClick:true;  vOffset:11">
                            <div class="decision-box">
                                <div class="decision-box-form-section">
                                    <form class="decision">
                                        <div class="grid-x grid-margin-x align-justify">
                                            <div class="small-3 medium-2 cell">
                                                <img class="img-responsive decision-user-thumb-post" src="{{user.profile_pic}}" />
                                            </div>
                                            <div class="small-9 decision-text cell">
                                                <input class="decision-box-input decision-question" type="text" name="decision-question" placeholder="ASK YOUR FRIENDS A QUESTION"
                                                    id="decision-question" />
                                                <p class="help-text" id="tags">(add tags by using # before the word)</p>
                                            </div>
                                        </div>
                                        <div class="grid-x align-justify">
                                            <div class="small-6 cell decision-box-input-left">
                                                <input class="decision-box-input" type="text" name="decision-choice-1-name" placeholder="CHOICE 1 NAME" id="decision-choice-1-name"
                                                />
                                                <input class="decision-box-input" type="text" name="decision-choice-1-url" placeholder="PHOTO URL FOR CHOICE 1" id="decision-choice-1-url"
                                                />
                                            </div>
                                            <div class="small-6 cell decision-box-input-right">
                                                <input class="decision-box-input" type="text" name="decision-choice-2-name" placeholder="CHOICE 2 NAME" id="decision-choice-2-name"
                                                />
                                                <input class="decision-box-input" type="text" name="decision-choice-2-url" placeholder="PHOTO URL FOR CHOICE 2" id="decision-choice-2-url"
                                                />
                                            </div>
                                        </div>
                                        <div class="grid-x">
                                            <div class="small-12 cell small-centered text-center">
                                                <input class="decision-box-submit-button" type="submit" name="decision-submit" value="POST" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end nav icons-->
    </div>
    <!--end row-->
    <div class="grid-x grid-padding-x">
        <div class="small-12 cell" id="main-content">
            {{{body}}}
        </div>
    </div>

    <!--end container-->
    <!-- start scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compressed JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/login.js"></script>
    <script type="text/javascript" src="/assets/js/signup.js"></script>
    <script type="text/javascript" src="/assets/js/post-decision.js"></script>
    <script type="text/javascript" src="/assets/js/vote.js"></script>
    <script type="text/javascript" src="/assets/js/comment.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>