    <div id="profile-container">
        <h1>PROFILE</h1>
        <div class="basic-card">
            <div class="basic-card-image">
                <img src="assets/img/charlie_thumb.jpg">
            </div>
            <div class="basic-card-content content callout secondary">
                <h5>CHARLES MCDOWELL</h5>
                <h6>@CDAWG</h6>
            </div>
            <div class="basic-card-content content callout secondary" id="black">
                <div class="grid-x grid-margin-x align-justify">
                    <div class="small-4 cell profile-stats">
                        <h6>DECISIONS</h6>
                        <h5>452</h5>
                    </div>
                    <div class="small-4 cell profile-stats">
                        <h6>RANK</h6>
                        <h5>320</h5>
                    </div>
                    <div class="small-4 cell profile-stats">
                        <h6>VOTES CAST</h6>
                        <h5>94</h5>
                    </div>
                </div>
            </div>
            <!--close black card -->
            <div class="basic-card-content content callout secondary">
                <h1>MY DECISIONS</h1>
            </div>
            
            
        </div>
        <!-- close card -->