
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
  }
  body {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7eb9e5+0,8e70b2+100 */
   background: rgb(126,185,229); /* Old browsers */
   background: -moz-linear-gradient(-45deg,  #0095FF 0%, #AC69FF 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg,  #0095FF 0%,#A664F7 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(-45deg,  #0095FF 0%,#B67BFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb9e5', endColorstr='#8e70b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
h1,h2,h3,h4,h5 {
  font-weight: 600;
}
h1,h2,h3,h4,h5,h6,p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.container {
  overflow-x: hidden;
}
p {
  font-size: 17px;
}
.fa {
  color: white;
  padding-left: 15px;
}
#main-content {  
  /* background-color: white; */
  margin-top: 2vh;
  /* width: 85vw; */
}


.header-text {
  font-size: 10vw;
}
.user-thumbnail {
  max-width: 50px;
  background-color: white;
  padding: 3px;
  display: inline-block;
}

/* NAV NAV NAV NAV NAV */
#nav-custom {
  background: rgb(126,185,229); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #0095FF 0%, #AC69FF 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #0095FF 0%,#A664F7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(-45deg,  #0095FF 0%,#B67BFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7eb9e5', endColorstr='#8e70b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 
  border-color: transparent;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.75);
} 
#logo-text {
  color: white;
  margin: auto;
}
#logo-text > h3 {
  margin: 0;
}

#nav-icons {
  text-align: right;
  margin: auto;
  list-style: none;
  display: inline-block;
}
#user-profile-thumbnail {

}
.img-responsive {
  width: 100%;
}
/* DECISION SECTION ---  DECISION SECTION */
.decision-details {
  margin-top: 15px;
}

#decision-timestamp {
  text-align: right;
  color: #939393;
  font-size: 12px;
  text-transform: uppercase;
}
.decision-user-thumb{
  /* padding: 1vw; */
  /* max-width: 15vw; */
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}
.user-first-name {
  font-weight: bold;
  font-size: 20px;
}
.decision-text {
  /* margin-left: -15px; */
  padding-right: 0px;
}

.decision-text p {
    margin: 0px;
    line-height: 1.2rem;
    vertical-align: top;
}

.user-decision-text {
  font-style: italic;
  font-size: 0.8rem;
}
.tag-text {
  color: #939393;
  font-size: 12px;
  text-transform: uppercase;
}
.decision-photos {
  margin-bottom: 15px;
}
.decision-photo {
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 15px;
}

.decision-photo-left {
  padding-right: 8px;
}
.decision-photo-right {
  padding-left: 8px;
}
.choice-image {
  width: 50%;
}
.choice-text {
  margin: 0px;
  text-align: center;
}
.choice-count {
  text-align: center;
  font-weight: bold;
}
.neither-vote {
  margin-top: 10px;
  margin-bottom: 10px;
}
.vote-stats {
  margin-top: 15px;
  color: #939393;
  font-size: 13px;
}
.vote-stats-numbers {
  color: #363636;
  font-size: 13px;
}
.comment-divider {
  margin-top: 5px;
  color: #000000;
  height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.decision-comments {
  margin-top: -10px;
}
.this-user-thumb {
  max-width: 30px;
  background-color: white;
  display: inline-block;
}
.write-comment {
  margin-left: -15px;
}
.form-control {
  color: #A5A5A5;
}
.post-comment-button {
  margin-left: -15px;
}
.comment-user-thumb {
 
}
.comment-user-name, .comment-text, .comment-user-text, .comment-timestamp {
  font-size: 12px;
}
.comment-user-text {
  color: #6B6B6B; 
}
.comment-timestamp {
  text-align: right;
  color: #939393;
  text-transform: uppercase;
}

/* POST */
.decision-user-thumb-post {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);  
}
/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN*/
.login-container {
  width: 85%;
  height: 80%;
  margin: 5% auto;
}
#logo-holder {
  margin: 15% auto;
  width: 45%;
  
}
/*END LOGIN END LOGIN END LOGIN END LOGIN END LOGIN*/

/* FORMS FORMS FORMS FORMS FORMS */
.form-signin {
    width: 85%;
    padding: 15px;
    margin: 15% auto;
    background: black;
    
  }
  .form-signin-heading {
    color: white;
    text-align: center;
    width: 100%;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin: auto;
    
  }
  #form-email {
    color: white;
    font-weight: 100;
    text-transform: uppercase;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* PROFILE CARD PROFILE CARD */
 
  #profile-container {
  
    background: white;
    width: 85%;
    margin: 7.5% auto;
    -webkit-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -5px rgba(0,0,0,0.75);
  }
  #profile-container > h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
  }

  .basic-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 80%;
  }
  
  .basic-card > :last-child {
    margin-bottom: 0;
  }
  
  .basic-card-image {
    grid-row-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
  }
  
  .basic-card-image img {
    width: 75%;
    margin: auto 12.5% ;
  }
  
  .basic-card-content {
    border: 0;
    grid-row-start: 3 / 4;
    margin: 0;
    overflow: scroll;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,ffffff+100 */
background: #c9c9c9; /* Old browsers */
background: -moz-linear-gradient(top,  #c9c9c9 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c9c9c9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c9c9c9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  }
  .basic-card-content > h5 {
    padding-top: 15px;
  }
  .basic-card-content > h6 {
    color: gray;
    font-size: 0.9rem;
    padding-bottom: 15px;
  }
  #black {
    background: black;
   
  }
  .profile-stats > h6{
    color: gray;
    font-size: 0.65rem;
    text-align: center;
  }
  .profile-stats > h5{
    color: white;
    font-size: 0.75rem;
    text-align: center;
  }